body {
  background-color: gainsboro;
}

.container {
  width: 400px;
  margin: 0 auto;
  margin-top: 10rem;
}

.list {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  left: 0;
  border-bottom: 1px solid rgb(242, 243, 241);
}

.delete {
  background-color: red;
  color: white;
  border-radius: 10px;
}

#saveBtn {
  background-color: rgb(51, 224, 51);
  color: white;
  border-radius: 10px;
}
